/*Código Multibyte*/
@charset "UTF-8";

/*fonte linkada*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/*fonte externa na pasta*/
@font-face {
  font-family: comic;
  src: url("./fonts/ComicNeueSansID.ttf") format("truetype");
}
:root {
  --font: comic, Arial, Helvetica, sans-serif;
}

/*regras*/
* {
  margin: 0px; /*removendo a distancia das margens*/
  padding: 0px; /*removendo a distancia do conteudo para as bordas*/
}
/*HTML BODY*/
html,
body {
  background-color: lightgray; /*Cor de fundo cinza claro*/
}

/*HEADER*/
header {
  background-color: black; /*cor de fundo preto*/
  color: white; /*cor das letras branco*/
  min-height: 10vh; /*Tamanho de 25% da altura disponivel da tela*/
  text-align: center; /*conteudo centralizado*/
  padding-top: 5vh; /*distancia do conteudo para o topo 5% do viemport*/
  padding-bottom: 5vh; /*distancia do conteudo para o topo 5% do viemport*/
}
header > h1 {
  font-size: 8vw; /*tamanho da fonte aumenta de acordo com a largura disponivel*/
  font-variant: small-caps; /*primeiras letras maiusculas e o resto minuscula*/
}

header > p {
  color: rgba(255, 255, 255, 0.527);
}

header > p > span {
  font-size: large;
  font-variant: small-caps;
}

header > p > a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

header > p > a:hover {
  color: black;
  font-weight: bolder;
  background-color: white;
  text-decoration: underline;
  border-radius: 2px;
  padding: 1px;
}
/*MAIN*/

main > section > p {
  font-family: var(--font);
  padding: 5vh 5vh 5vh 5vh;
  font-weight: bolder;
  line-height: 5vh;
  font-size: 3vh;
}

.comum {
  background-color: white;
}
.imagema {
  background-image: url(imagens/background001.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 30px 30px 40px 10px;
}
.b{
  color: white;
}
.c{
  color: white;
  background-color: rgba(0, 0, 0, 0.089);
  display: inline-block;

}

.imagemb {
  background-image: url(imagens/background002.jpg);
  background-position: center left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 30px 30px 40px 10px;
}
/*FOTTER*/
footer {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
}
